runs/
__pycache__/
gf180mcu/
gf180_drc.lyrdb
sim_build/
final/
img/
*.lyrdb
generated_defines.svh
exclude_final.txt
chip_core_copy.sv
otUSB/src_o
librelane/macros/macros_5v_or.yaml
librelane/pdn/pdn_5v_sram_or.yaml
librelane/pdn/pdn_3v3_sram_or.yaml
