runs/
__pycache__/
gf180mcu/
gf180_drc.lyrdb
sim_build/
img/
*.lyrdb
generated_defines.svh
exclude_final.txt
chip_core_copy.sv
otUSB/src_o
librelane/macros/macros_5v_or.yaml
librelane/pdn/pdn_5v_sram_or.yaml
librelane/pdn/pdn_3v3_sram_or.yaml

# final/
final/def/
final/json_h/
final/mag_gds/
final/metrics.json
final/metrics.csv
final/odb/
final/render/
final/sdf/
final/spice/
final/klayout_gds/
final/mag/
final/sdc/

# ztimer
ztimer/final/def/
ztimer/final/json_h/
ztimer/final/mag_gds/
ztimer/final/metrics.json
ztimer/final/metrics.csv
ztimer/final/odb/
ztimer/final/render/
ztimer/final/sdf/
ztimer/final/spice/
ztimer/final/klayout_gds/
ztimer/final/mag/
ztimer/final/sdc/

# otUSB
otUSB/final/def/
otUSB/final/json_h/
otUSB/final/mag_gds/
otUSB/final/metrics.json
otUSB/final/metrics.csv
otUSB/final/odb/
otUSB/final/render/
otUSB/final/sdf/
otUSB/final/spice/
otUSB/final/klayout_gds/
otUSB/final/mag/
otUSB/final/sdc/
